* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-image: url('@/assets/imgs/bg2.png'); /* 替换为你的背景图片路径 */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

a {
    text-decoration: none;
}
