<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RiderOrdersMapper">

    <sql id="Base_Column_List">
        id, rider_id, order_id, status, assigned_at
    </sql>

    <select id="selectAll" resultType="com.example.entity.RiderOrders" parameterType="com.example.entity.RiderOrders">
        select
        <include refid="Base_Column_List" />
        from rider_orders
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="riderId != null"> and rider_id = #{riderId}</if>
            <if test="orderId != null"> and order_id = #{orderId}</if>
            <if test="status != null"> and status = #{status}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.RiderOrders">
        select
        <include refid="Base_Column_List" />
        from rider_orders
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from rider_orders
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.RiderOrders" useGeneratedKeys="true" keyProperty="id">
        insert into rider_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="riderId != null">rider_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="status != null">status,</if>
            <if test="assignedAt != null">assigned_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="riderId != null">#{riderId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="status != null">#{status},</if>
            <if test="assignedAt != null">#{assignedAt},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.RiderOrders">
        update rider_orders
        <set>
            <if test="riderId != null">
                rider_id = #{riderId},
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="assignedAt != null">
                assigned_at = #{assignedAt},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
